@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark1: 80, 73, 70;
  --white1: 234, 234, 234;


  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: 255, 255, 255;
    --background-start-rgb: var(--dark1);
    --background-end-rgb: var(--dark1);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero-container {
  display: flex;
  height: 100vh;
  
}

.hero-img {
  position:absolute;
  height: 100%;
  right: 0;
  max-width: none;
}

.font-1 {
  font-family: Grandslang, sans-serif;
}

